.button {
    background-color: transparent;
    color: black;
    font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;
    border: solid #dddddd;
    border-width: 1px 0;
    font-size: 1.25rem;
    padding: 1rem 0;
    width: 100%;
    text-align: left;
    position: relative;

    &:after {
        content: '';
        background-image: url('/arrow.png');
        background-size: contain;
        font-size: 2rem;
        position: absolute;
        right: 0rem;
        top: 50%;
        width: 2rem;
        height: 2rem;
        transform: translateY(-50%) rotate(180deg);
    }

    &:hover {
        cursor: pointer;
    }
}

@media only screen and (min-width: 1024px) {
    .button:after {
        right: 4rem;
    }
}