.container {
    background-color: #fff;

}

.header {
    position: relative;
}

.back {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);

    > div {
        display: flex;
        align-items: center;
    }

    img {
        height: 2.5rem;
        width: auto;
    }

    &:hover {
        cursor: pointer;
    }
}

.divider {
    width: 100%;
    height: 0.5rem;
    background-color: #f2f2f2;
}

.price {
    h2 {
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 0.25rem;
        font-weight: 400;
    }
}

.price {
    padding: 2rem;
}

.description {
    padding: 1rem 2rem;
}

.specification h2 {
    margin: 2rem 0;
}

@media only screen and (min-width: 1024px) {
    .header {
        border-bottom: 1px solid #ddd;
        background-color: #fbfbfb;
    }

    .container {
        display: grid;
        gap: 1px;
        grid-template-columns: 70% 30%;
        max-width: 100vw;  
    }

    .divider {
        display: none;
    }

    .readmore {
        margin-right: -4rem; 
    }

    .carousel, .description {
        border-right: 1px solid #ddd;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .price {
        padding: 2.5rem 3rem;
    }
}